.loginContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginContainer button{
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.loginContainer p{
    color: black !important;
    font-weight: bold;
}

.loginContainer button.btnFacebook{
    background: #1976D3;
}

.loginContainer button.btnGithub{
    background: var(--black);
}

.loginContainer button img{
    width: 25px;
    height: auto;
}