*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* color palette */

:root{
  --primary-color: #63134F;
  --medium-color: #DC3E84;
  --secondary-color: #03759C;
  --white: #FFFFFF;
  --black: #000000;
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 800;
  --font-black: 900;
}
